@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
}
/* main starts form here */
main {
  position: relative;
  background: #fff;
  z-index: 99;
}
/* offcanvas*/
.offcanvas-menu {
  position: fixed;
  background: #fc721e;
  top: 0;
  right: -300px;
  width: 21%;
  height: 100%;
  text-transform: capitalize;
  color: #fff;
  padding: 36px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  display: none;
}
.offcanvas-menu.show-menu {
  right: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.offcanvas-menu ul {
  padding: 0;
  margin: 0;
}
.offcanvas-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  display: none;
}
.offcanvas-shade.shade-active {
  opacity: 0.5;
  visibility: visible;
}
.menu-close svg {
  font-size: 42px;
  cursor: pointer;
  margin-left: 11px;
}
.menu-trigger svg {
  font-size: 26px;
  cursor: pointer;
}
.offcanvas-menu ul li {
  padding: 16px 0;
  text-align: center;
}
.offcanvas-menu ul li a {
  color: #fff;
  font-size: 23px;
}
.menu-trigger {
  color: #fc721e;
  font-size: 100px;
  position: absolute;
  right: 64px;
  top: 19px;
  display: none;
}

/* header starts form here */

/* top-banner starts form here */
.top-banner {
  background: #0b0b0b;
  color: #fff;
  width: 100%;
  padding: 20px 0;
}
.top-banner p {
  line-height: 0;
}
.top-banner svg {
  color: #fc721e;
}
.col-md-5.contact-links {
  margin-top: 6px;
}
.col-md-5.contact-links svg {
  margin-right: 5px;
}
.top-banner .contact-links {
  padding: 0;
}
.contacts svg {
  margin-left: 16px;
  margin-right: 9px;
}
.social-icons {
  margin-left: 13px;
}
.social-icons a {
  display: inline-block;
  height: 39px;
  width: 39px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  margin: 0 5px;
}
.social-icons a:hover {
  background: #fc721e;
  border: 1px solid #fc721e;
  color: #fff;
}
.social-icons a svg {
  color: #fff;
  margin-top: 10px;
  margin-left: -2px;
  transition: all 0.5s ease-in-out;
}
.social-icons a:hover svg {
  color: #fff;
}
/* top-banner ends form here */
/* head starts form here */
.head {
  padding: 20px 0;
}
nav {
  margin-top: 11px;
}
.main-menu ul li {
  display: inline-block;
  margin-right: -2px;
}

.main-menu ul li a {
  color: #0b0b0b;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 11px 15px;
  transition: all 0.5s;
}
.main-menu ul li a:hover {
  border: 2px solid #fc721e;
}
/* head ends from here */
/* header ends from here */
/* homepage-sliders starts from here  */
.single-slider {
  display: table;
  width: 100%;
  height: 600px;
  z-index: 2;
  position: relative;
  padding-top: 9%;
}
.single-slider::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  opacity: 0.6;
  z-index: -1;
  content: "";
}
.bg-1 {
  background: url("https://farihatulmaria.github.io/150//assets/img/psd-to-html3-imgs/factory-bg.png");
  background-position: center;
  background-size: cover;
}
.slider-cell {
  display: table-cell;
  vertical-align: middle;
}
.slider-txt {
  color: #fff;
}
.slider-txt h1 {
  font-size: 60px;
}
.slider-txt p {
  line-height: 1.9;
  margin-bottom: 37px;
}
.slider-btn {
  color: #fff;
  background: #fc721e;
  font-weight: 500;
  margin-right: 12px;
  padding: 10px 37px;
  border: 2px solid #fc721e;
  transition: all 0.5s ease-in-out;
}
.slider-btn:hover {
  color: #fff;
}
.learn-btn {
  background: transparent;
  border: 2px solid #fff;
}
.learn-btn:hover {
  background: #fc721e;
  border: 2px solid #fc721e;
}
/* slick-slider css */
.slick-dots {
  bottom: 38px;
  width: 9%;
  left: 58px;
}
.slick-dots li {
  width: 3px;
  height: 39px;
  margin: 0 8px;
  color: #fff;
  background: #fff;
  transition: all 0.5s;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  color: #fc721e;
  background: #fc721e;
  height: 54px;
}
/* homepage-sliders ends from here  */
/* service starts from here  */
.services {
  padding-top: 75px;
}
.service-title {
  margin-bottom: 95px;
}
.service-box {
  transition: all 0.5s ease-in-out;
  border: 1px solid #d1cfcf;
}
.service-box:hover {
  box-shadow: 0 0 18px #999;
}
.service-head {
  position: relative;
}
.service-head img {
  width: 100%;
}
.service-head h4 {
  position: absolute;
  bottom: -29px;
  background: #fc721e;
  color: #fff;
  padding: 18px 36px;
  left: 27px;
  font-size: 21px;
}
.service-info {
  padding: 30px 15px;
  font-size: 14px;
  line-height: 2;
}
.service-info-btn {
  color: #0b0b0b;
  transition: all 0.5s ease-in-out;
}
.service-info-btn:hover {
  color: #fc721e;
}
.service-info-btn svg {
  transition: all 0.5s ease-in-out;
}
.service-info-btn:hover svg {
  margin-left: 7px;
}
/* service ends from here  */
/* about start from here  */
.about {
  background: #f4f4f4;
  padding: 97px 0;
}
.about-title {
  margin-bottom: 90px;
}
.about-img {
  position: relative;
}
.about-img::after {
  position: absolute;
  top: 50%;
  left: -152px;
  background: #fc721e;
  width: 300px;
  height: 4px;
  transform: rotate(90deg);
  content: "";
}
.about-img::before {
  position: absolute;
  top: 50%;
  right: -152px;
  background: #fc721e;
  width: 300px;
  height: 4px;
  transform: rotate(90deg);
  content: "";
}
.about-txt {
  margin-top: 48px;
}
.about-txt h5 {
  font-size: 17px;
  font-weight: 700;
}
.about-txt p {
  font-size: 15px;
  line-height: 2;
}
/* about ends from here  */
/* offer start from here  */
.offer {
  padding: 70px 0;
  background: #fc721e;
  color: #fff;
}
.offer-btn {
  color: #000;
  background: #fff;
  margin-top: -14px;
  padding: 11px 21px;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}
.offer-btn:hover {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
}
/* offer ends from here  */
/* projects starts from here  */
.projects {
  padding: 90px 0;
}
.project-title {
  margin-bottom: 78px;
}
.project-title h2 {
  text-transform: uppercase;
}
.project-box {
  transition: all 0.5s ease-in-out;
}
.project-box:hover .project-img::after {
  opacity: 0.4;
}
.project-box:hover .project-txt h5 {
  color: #fc721e;
}
.project-box:hover .project-view-btn {
  color: #fc721e;
}
.project-img {
  position: relative;
  z-index: 1;
}
.project-img img {
  width: 100%;
}
.project-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: 2;
  content: "";
  transition: all 0.5s ease-in-out;
}
.project-txt {
  padding: 45px 0;
}
.project-txt h5 {
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
}
.project-view-btn {
  transition: all 0.5s ease-in-out;
}
.project-view-btn svg {
  margin-left: 6px;
  font-size: 14px;
}
/* projects ends from here  */
/* team starts from here  */
.team {
  padding-bottom: 100px;
}
.team-title {
  margin-bottom: 78px;
}
.team-info {
  border: 1px solid #dbdbdb;
  margin-top: 10px;
  padding: 25px 13px;
}
.team-info p {
  font-size: 18px;
  font-weight: 600;
  line-height: 19px;
}
.team-info span {
  font-size: 16px;
  color: #555;
}
.team-social-icon {
  margin-top: 23px;
}
.team-social-icon br {
  display: none;
}
.team-social-icon a {
  padding: 10px 11px;
  border: 2px solid #000;
  text-align: center;
  color: #000;
  margin: 0 6px;
  transition: all 0.5s ease-in-out;
}
.team-social-icon a svg {
  transition: all 0.5s ease-in-out;
}
.team-social-icon a:hover {
  color: #fc721e;
  border: 2px solid #fc721e;
}
/* team ends from here  */
/* partners starts from here  */

.partners-img {
  padding: 78px 0;
}
.partners-img img {
  width: 67%;
}
/* partners ends from here  */
/* main ends from here */
/* footer starts from here */
footer {
  background: #000;
  color: #fff;
  padding: 90px 0;
  padding-bottom: 17px;
}
footer h4 {
  position: relative;
  margin-bottom: 31px;
  font-size: 17px;
}
footer h4::after {
  position: absolute;
  bottom: -11px;
  left: -1px;
  width: 30%;
  height: 2px;
  background: #fc721e;
  content: "";
}
.footer-about p {
  color: #888686;
  margin-bottom: 30px;
}
footer .social-icons {
  margin: 30px 0;
  margin-left: -10px;
}
footer .social-icons a {
  height: 36px;
  width: 36px;
  margin-bottom: 12px;
}
footer .social-icons a svg {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 1px;
}
.footer-nav nav ul {
  margin: 0;
}
.footer-nav nav ul li {
  margin-bottom: 9px;
}
.footer-nav nav ul li a {
  color: #888686;
}
.footer-news p {
  color: #888686;
}
.footer-news span {
  color: #686767;
  font-size: 14px;
  font-weight: 300;
}
.footer-contact {
  line-height: 48px;
}
.footer-contact svg {
  color: #fc721e;
  margin-right: 5px;
}
.footer-contact p {
  line-height: 24px;
}
.footer-contact a {
  color: #fff;
}
input {
  margin-top: 13px;
  border: 0;
  outline: 0;
  background: #222222;
  color: #fff;
  padding: 5px 28px;
}
.copy-right hr {
  color: #888686;
}
.copy-right p {
  color: #888686;
}
.copy-right p svg {
  color: #888686;
  margin-right: 4px;
}
/* footer ends from here */
