main {
  position: relative;
  margin-bottom: 500px;
  z-index: 99;
}
/* header */
header {
  background: #222;
  color: #fff;
  padding: 30px 0;
}
header a {
  transition: all 0.5s;
  color: #fff;
}
header a:hover {
  color: #e2b935;
}
.head {
  padding: 35px 0;
}
.logo p {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
.logo p svg {
  color: #e2b935;
  margin-right: 8px;
}
.main-menu ul {
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  display: inline-block;
  padding: 0 20px;
  font-weight: 700;
}
.main-menu ul li a {
  font-size: 18px;
}

.homepage-slider {
  padding: 44px 0;
  line-height: 4;
}
.slider-txt span {
  color: #999;
  font-weight: 700;
}
.slider-txt h2 {
  line-height: 1.6;
}
.slider-txt h2 span {
  color: #e2b935;
  font-size: 39px;
  margin: 0 10px;
}
.about-btn {
  color: #999;
}
.about-btn svg {
  color: #999;
  font-weight: 700;
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1203px;
}
/* features */
.features {
  background: #e2b935;
  padding: 50px 0;
}
.feature-title {
  padding: 30px 0;
}
.feature-title h2 {
  color: #fff;
  text-transform: uppercase;
}
.single-features {
  background-color: #ddd;
  background: url("https://farihatulmaria.github.io/150/assets/img/building.jpg");
  display: inline-block;
}
.single-features {
  width: 53%;
  height: 303px;
  margin: 8px 11px;
}
.single-features:nth-child(1) {
  background: url("https://farihatulmaria.github.io/150/assets/img/feature-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-features:nth-child(2) {
  background: url("https://farihatulmaria.github.io/150/assets/img/feature-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-features:nth-child(3) {
  background: url("https://farihatulmaria.github.io/150/assets/img/feature-4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-features:nth-child(4) {
  background: url("https://farihatulmaria.github.io/150/assets/img/feature-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.small {
  width: 42%;
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 50px 0;
  color: #fff;

  bottom: 0;
  width: 100%;
}
.footer-txt {
  padding: 53px 0;
}
.footer-txt h3 {
  margin-bottom: 33px;
  font-size: 36px;
}
.footer-txt p {
  color: #999;
  font-size: 16px;
  padding: 0px 300px;
  line-height: 1.7;
  margin-bottom: 41px;
}
.footer-txt .contact-btn {
  color: #e2b935;
  background: transparent;
  border: 2px solid #e2b935;
  transition: all 0.5s;
  font-weight: 600;
  padding: 15px 59px;
}
.footer-txt .contact-btn:hover {
  background: #e2b935;
  color: #fff;
}
hr {
  color: #999;
  background: #999;
  margin: 2rem 0;
}
.copy-right p {
  color: #999;
  font-size: 13px;
}
.copy-right p svg {
  margin-right: 5px;
}
.social-icons {
  margin-right: 10px;
}
.social-icons a {
  color: #999;
  padding: 0 10px;
}
.social-icons a svg {
  color: #999;
  font-size: 23px;
  transition: all 0.5s;
}
.social-icons a:hover svg {
  color: #fff;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-dots {
  position: absolute;
  bottom: -11px;
  padding: 0;
  margin: 0;
  display: block;
  width: auto;
  list-style: none;
  text-align: normal;
}
.slick-dots li {
  width: 5px;
  height: 20px;
  background: #fff;
  border-radius: 32px;
  transition: all 0.5s;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background: #e2b935;
  height: 52px;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .slick-dots {
    bottom: -85px;
  }
  .slick-slide img {
    margin-top: 81px;
  }
  .small {
    width: 40%;
  }
  main {
    margin-bottom: 500px;
  }
  .footer-txt p {
    padding: 0 138px;
  }
  .homepage-slider {
    padding: 3px 0;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .head .col-md-6:nth-child(2) {
    display: none;
  }
  .single-features {
    width: 95%;
  }
  .small {
    width: 95%;
  }
  .slick-slide img {
    margin-top: -9px;
  }
  .homepage-slider {
    padding: 15px 0;
  }
  .footer-txt p {
    padding: 0 28px;
  }
  main {
    margin-bottom: 571px;
  }
}

@media screen and (max-width: 320px) {
}
