/* pricing-table */
.pricing-table {
  margin-top: 80px;
}
.pricing-offer {
  border-radius: 8px;
  box-shadow: 0 0 10px #7c7c7c;
  margin-bottom: 29px;
}
.pricing-head {
  background: #f5f5f5;
  padding: 31px 0;
}

.pricing-head1 {
  background: #255d17;
  color: #fff;
  position: relative;
  z-index: -1;
}
.pricing-head1 span {
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  background: #fff;
  color: #255d17;
  font-weight: 700;
  padding: 0px 84px;
  transform: rotate(35deg);
  right: -44px;
  font-size: 35px;
}
.btn-1 {
  background: #255d17;
  border: 1px solid #255d17;
  color: #255d17;
}
.btn-1:hover {
  background: transparent;
}
.pricing-head2 {
  background: #ff0055;
  color: #fff;
  position: relative;
  z-index: -1;
}
.pricing-head2 span {
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  background: #fff;
  color: #ff0055;
  font-weight: 700;
  padding: 3px 57px;
  transform: rotate(35deg);
  right: -30px;
  font-size: 24px;
}
.pricing-head3 {
  background: #0084ff;
  color: #fff;
  position: relative;
  z-index: -1;
}
.btn-3 {
  background: #0084ff;
  border: 1px solid #0084ff;
  color: #0084ff;
}
.btn-3:hover {
  background: transparent;
}
.pricing-head p {
  padding: 0 50px;
}
.pricing-head h1 {
  font-size: 67px;
  font-weight: 400;
  line-height: 1;
}
.pricing-body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pricing-body ul {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.pricing-body ul li {
  line-height: 2;
}
.btn-2 {
  background: #ff0055;
  border: 1px solid #ff0055;
}
.buying-btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-radius: 32px;
  padding: 7px 23px;
  transition: all 0.5s ease-in-out;
}
.btn-2:hover {
  background: transparent;
  color: #ff0055;
}
.pricing-head3 span,
.pricing-head2 span,
.pricing-head1 span {
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  background: #fff;
  font-weight: 700;
  padding: 3px 57px;
  transform: rotate(35deg);
}
.pricing-head3 span {
  color: #0084ff;
  right: -30px;
  font-size: 24px;
}
.pricing-head2 span {
  color: #ff0055;
  right: -30px;
  font-size: 24px;
}
.pricing-head1 span {
  color: #255d17;
  padding: 0px 84px;
  right: -44px;
  font-size: 35px;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .pricing-head p:nth-child(1) {
    display: none;
  }
  .pricing-head p {
    padding: 0 8px;
  }
  .pricing-head1 span,
  .pricing-head2 span,
  .pricing-head3 span {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
