@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
body {
  background: #000;
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  background: linear-gradient(120deg, #0a2d61, #0a3f8f);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff !important;
}

.top-banner {
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo h3 {
  font-size: 40px;
  text-transform: full-width;
}
header .main-menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
header .main-menu ul li {
  display: inline-block;
  margin-right: 10px;
}
.top-banner a {
  text-transform: capitalize;
  color: #fff;
  margin-right: 14px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
.top-banner a:hover,
.active {
  background: #fff;
  color: #0a2d61 !important;
  border-radius: 8px;
  padding: 6px 10px;
}
.header-txt {
  margin-top: 9%;
}
.header-txt h3 {
  font-size: 45px;
  line-height: 59px;
  margin-bottom: 33px;
}
.header-txt p {
  font-size: 20px;
  margin-bottom: 23px;
}
.header-txt .header-btn {
  border: 1px solid #fff;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 13px 35px;
  margin-top: 9px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 50px;
}
.header-btn:hover {
  background: #fff;
  color: #0a2d61;
}
/* offset-menu css */
.offcanvas-menu {
  position: fixed;
  background: #0a2d61;
  top: 0;
  right: -300px;
  width: 21%;
  height: 100%;
  text-transform: capitalize;
  color: #fff;
  padding: 36px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}
.offcanvas-menu.show-menu {
  right: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.offcanvas-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  background: darkblue;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}
.offcanvas-shade.shade-active {
  opacity: 0.3;
  visibility: visible;
}
.menu-close svg {
  font-size: 42px;
  cursor: pointer;
  margin-left: 176px;
}
.menu-trigger svg {
  font-size: 26px;
  cursor: pointer;
}
.offcanvas-menu ul li {
  padding: 16px 0;
  text-align: center;
}
.offcanvas-menu ul li a {
  color: #fff;
  font-size: 23px;
}
.menu-trigger {
  color: #fff;
  font-size: 100px;
  position: absolute;
  right: 116px;
  top: -54px;
  display: none;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .menu-trigger {
    display: block;
  }
  header .main-menu ul {
    display: none;
  }
  .menu-trigger {
    right: 44px;
    top: -44px;
  }
  img {
    margin-top: 113px;
  }
  .offcanvas-menu {
    width: 34%;
  }
}
@media screen and (max-width: 640px) {
  .menu-trigger {
    display: block;
  }
  img {
    margin-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .menu-trigger {
    display: block;
  }
  .offcanvas-menu {
    width: 73%;
  }
  .offcanvas-menu.show-menu {
    right: -9px;
  }
  img {
    margin-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .menu-trigger {
    display: block;
  }
  .offcanvas-menu {
    width: 70%;
  }
  .offcanvas-menu.show-menu {
    right: 0px;
  }
  img {
    margin-top: 0px;
  }
}
