/* main-css */
svg {
  color: #13d3b3;
  margin-right: 5px;
}
.bg-form {
  background: #09ecc6;
  padding: 20px;
}
.absolute-text {
  color: #fff;
  opacity: 0.8;
  font-size: 46px;
  line-height: 49px;
  margin-top: -14px;
  text-align: center;
  margin-bottom: 44px;
}
.contact-form input[type="submit"] {
  background: #fff;
  color: #13d3b3;
  font-weight: 800;
  width: 39%;
  margin-top: 14px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: all 0.5s ease-in;
}
.contact-form input[type="submit"]:hover {
  background: transparent;
  color: #fff;
}
.contact-form {
  margin: 30px 0;
  margin-left: 100px;
  margin-right: 50px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  color: #666;
  margin-bottom: 10px;
}
.contact-text {
  padding: 69px;
  padding-top: 63px;
}
.contact-text .appointment-text {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-text ul {
  margin-top: 5px;
  margin-left: -32px;
  margin-bottom: 10px;
}
.contact-text ul li {
  padding: 10px 0;
}
a.boxed-btn {
  color: #fff;
  background: #13d3b3;
  border: 3px solid #13d3b3;
  border-radius: 50px;
  padding: 15px 66px;
  margin-top: 18px !important;
  font-weight: 700;
  transition: all 0.5s ease-in;
}
.contact-text a.boxed-btn:hover {
  background: transparent;
  color: #13d3b3;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .contact-form {
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact-form input[type="submit"] {
    width: 65%;
  }
  a.boxed-btn {
    padding: 15px 38px;
  }
  .contact-text {
    padding: 11px;
    padding-top: 49px;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .absolute-text {
    font-size: 39px;
    margin-left: -53px;
  }
  .contact-form {
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact-form input[type="submit"] {
    width: 65%;
  }
  a.boxed-btn {
    padding: 16px 51px;
  }
  .contact-text {
    margin-left: 50px;
  }
}

@media screen and (max-width: 320px) {
}
