/* project */
.section-title {
  margin: 50px 0;
}

.section-title p {
  padding: 0 20%;
}
.single-project-box {
  color: #fff;
  margin-bottom: 2px;
}
.bg-1 {
  background-color: #ddd;
  background: url("https://farihatulmaria.github.io/150/assets/img/port.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 522px;
}
.bg-2 {
  background-color: #ddd;
  background: url("https://farihatulmaria.github.io/150/assets/img/raspberries-1495713_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
.bg-3 {
  background-color: #ddd;
  background: url("https://farihatulmaria.github.io/150/assets/img/berries-2277_640.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
.bg-4 {
  background-color: #ddd;
  background: url("https://farihatulmaria.github.io/150/assets/img/blueberries-3460423_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
.bg-5 {
  background-color: #ddd;
  background: url("https://farihatulmaria.github.io/150/assets/img/piano.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
.project-box {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.project-box:hover::after {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
}
.project-box:hover .project-hover {
  opacity: 1;
}
.project-box::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 87%;
  height: 81%;
  background: #000;
  opacity: 0;
  content: "";
  z-index: -1;
  transition: 0.5s ease;
  margin-left: 25px;
  margin-top: 34px;
}
.project-box-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.project-hover {
  text-align: center;
  transition: 0.5s ease;
  opacity: 0;
}
.project-hover svg {
  color: greenyellow;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .section-title p {
    padding: 9px 0;
  }
}

@media screen and (max-width: 320px) {
}
