section {
  margin-top: 50px;
}
.contact-form {
  box-shadow: 0 0 10px #f5f5f5;
  padding: 40px 43px;
}
h4 {
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 16px;
}
input:focus,
textarea:focus,
input[type="submit"]:focus {
  outline: 0;
}
input,
textarea {
  background: #f5f5f5fa;
  border: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
textarea {
  height: 167px;
}
input[type="submit"] {
  font-size: 17px;
  font-weight: 600;
  width: 30%;
  color: #fff;
  background: #008cff;
  transition: all 0.5s ease-in-out;
}
input[type="submit"]:hover {
  border-radius: 50px;
}
.get-in-touch h4 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.blue {
  background: #008cff;
  width: 32%;
}
.contect-info {
  position: relative;
  margin-left: 60px;
}
.contect-info svg {
  position: absolute;
  left: -41px;
  top: 0;
  font-size: 20px;
}
.contect-info a {
  color: #fff;
}

.social-icon {
  margin-left: 26px;
  margin-top: 40px;
}
.social-icon a {
  background: #fff;
  border-radius: 52%;
  padding: 14px 17px;
  margin-right: 13px;
  transition: all 0.5s ease-in-out;
}
.social-icon a:hover {
  color: #fff;
  background: #0062ff;
}
.social-icon a:hover svg {
  color: #fff;
}
a svg {
  color: #0062ff;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  input[type="submit"] {
    width: 45%;
  }
  .social-icon {
    margin-left: 0;
  }
  .social-icon a {
    padding: 14px 12px;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  input[type="submit"] {
    width: 67%;
  }
  .blue {
    width: 100%;
  }
  .social-icon a {
    padding: 14px 17px;
  }
  .social-icon {
    margin-left: 26px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .contect-info svg {
    left: -31px;
    top: 6px;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
}
