/* clients */
.clients {
  background: url("https://farihatulmaria.github.io/150/assets/img/port.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
}
.clients::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: -1;
  content: "";
  width: 100%;
}

.comment-slider {
  padding-top: 151px;
}
.single-comments {
  padding-top: 50px;
}
.comment img {
  width: 10%;
  margin-top: -49px;
  margin-bottom: 16px;
  border-radius: 54%;
  text-align: center;
  margin-left: 466px;
}
.comment-txt {
  position: relative;
}
.comment-txt p {
  padding: 1px 21%;
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
}

span.right,
span.left {
  position: absolute;
  font-size: 59px;
}
span.left {
  top: -76px;
  left: 64px;
}
span.right {
  bottom: 18px;
  right: 114px;
}
/* slider css*/
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -2px 16px;
  padding: 0;
  cursor: pointer;
  background: #c8c8c8;
  transition: 0.5s ease;
  border-radius: 50%;
}
li.slick-active {
  background: #fff;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .comment img {
    width: 14%;
    margin-top: -50px;
    margin-left: 311px;
  }
  span.right,
  span.left {
    position: absolute;
    font-size: 31px;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .clients {
    height: 205%;
  }
  .comment img {
    width: 18%;
    margin-left: 150px;
  }
  span.right {
    bottom: 68px;
    right: 59px;
  }
  .comment-txt p {
    padding: 1px 9%;
    font-size: 17px;
  }
  .clients {
    height: 105%;
    margin-top: -85px;
  }
  span.right {
    bottom: 26px;
    right: 83px;
  }
  span.left {
    top: -14px;
    left: 43px;
  }
  span.right,
  span.left {
    position: absolute;
    font-size: 27px;
  }
}

@media screen and (max-width: 320px) {
}
