/* test-bg */
.text-bg-1 {
  background: url("https://farihatulmaria.github.io/150/assets/img/italy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}
.text-bg-2 {
  background: url("https://farihatulmaria.github.io/150/assets/img/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

/* main-content */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");

/* section {
  margin: 50px 0;
} */

.option {
  color: #f6acc8;
  background: #fff;
  padding: 66px;
}
.option:nth-child(2) {
  background: #f6acc8;
  color: #fff;
}
.option:nth-child(3) {
  background: #00a8cc;
  color: #fff;
}
.option:nth-child(4) {
  color: #00a8cc;
}
.main-icons svg {
  font-size: 51px;
  margin-bottom: 20px;
}
.booking-btn {
  background: #fff;
  color: #fff;
  margin-top: 22px;
  padding: 8px 22px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.on-hover {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.option:nth-child(1):hover .on-hover {
  opacity: 1;
}
.option:nth-child(1) .booking-btn {
  background: #f6acc8;
  border: 1px solid #f6acc8;
}
.option:nth-child(1) .booking-btn:hover {
  color: #fff;
}
.option:nth-child(2):hover .on-hover {
  opacity: 1;
}
.option:nth-child(2) .booking-btn {
  background: #fff;
  color: #f6acc8;
  border: 1px solid #f6acc8;
}
.option:nth-child(3) .booking-btn {
  background: #fff;
  color: #00a8cc;
  border: 1px solid #00a8cc;
}
.option:nth-child(3):hover .on-hover {
  opacity: 1;
}
.option:nth-child(4) .booking-btn {
  background: #00a8cc;
  border: 1px solid #00a8cc;
}
.option:nth-child(4) .booking-btn:hover {
  color: #fff;
}
.option:nth-child(4):hover .on-hover {
  opacity: 1;
}

.main-content {
  padding: 62px 109px;
  padding-bottom: 158px;
  background-color: #f8f8f8;
  margin-left: -12px;
}
.main-content h6 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  color: #0391aaa9;
  font-family: "Playfair Display", serif;
}
.main-content h2 {
  font-size: 36px;
  color: #292929;
  margin-bottom: 30px;
  margin-top: -20px;
}
.main-content h5 {
  color: #292929;
  margin-bottom: 35px;
}
.main-content p {
  color: #000;
  line-height: 1.7;
  opacity: 0.7;
  margin-bottom: 44px;
}
.main-content a {
  background: #0c94d3;
  margin-right: 29px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  border-radius: 50px;
  text-transform: capitalize;
  border: 2px solid #0c94d3;
  padding: 14px 34px;
  transition: all 0.5s ease;
}
.main-content a:hover {
  background: transparent;
  color: #0c94d3;
}
.main-content a:nth-child(2) {
  background: transparent;
  color: #0c94d3;
  border: 2px solid #00a8cc;
}
.main-content a:nth-child(2):hover {
  background: #00a8cc;
  color: #fff;
}
