@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Playfair Display", serif;
}
.client-comments {
  margin-top: 70px;
}
.comment-title {
  position: relative;
}
.comment-title h1 {
  position: absolute;
  top: 0;
  right: -149px;
  font-size: 54px;
  z-index: 99;
}
.comment-title h1 span {
  color: #fff;
  z-index: 99;
}
.comment {
  padding: 23px 0;
  margin-top: 117px;
  margin-left: 123px;
}
.comment p {
  font-size: 12px;
  margin-bottom: 30px;
}
svg {
  color: goldenrod;
  margin-bottom: 10px;
}
.comment h5 {
  line-height: 0;
  margin-top: 15px;
}
.comment span {
  color: #999;
}
img {
  height: 114%;
  margin-top: -30px;
  position: relative;
}
.slick-prev::before,
.slick-next::before {
  font-weight: 800;
  color: #000;
  background-color: #ddd;
  transition: all 0.5s;
  padding: 12px 14px;
  position: absolute;
  bottom: -220px;
}
.slick-prev:hover::before,
.slick-next:hover::before {
  color: #fff;
  background-color: goldenrod;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 60%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
}
.slick-prev {
  left: 42%;
}
.slick-next {
  right: 50%;
} /* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .comment {
    margin-left: 0;
  }
  .comment-title h1 span {
    color: #000;
  }
  .slick-prev {
    left: 39%;
  }
  .slick-next::before {
    color: #fff;
    background-color: goldenrod;
  }
  .slick-next:hover:before {
    color: #000;
    background-color: #ddd;
  }
  img {
    height: 76%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  img {
    height: 111%;
    margin-top: -10px;
    border-radius: 50%;
    width: 96px;
  }
  .slick-prev::before,
  .slick-next::before {
    bottom: -260px;
  }
  .slick-next {
    right: 39%;
  }
  .slick-prev {
    left: 31%;
  }
  .slick-next {
    right: 49%;
  }
}

@media screen and (max-width: 320px) {
}
