section {
  margin-top: 50px;
}
.service-title {
  margin-bottom: 60px;
}
.borders {
  text-align: center !important;
}
.borders span {
  text-align: center;
  height: 7px;
  background: #09e653;
  display: inline-block;
  width: 64px;
  border-radius: 3px;
}
.black-border {
  background: #000 !important;
  width: 47px !important;
  margin: 0 14px;
}
.signle-serivce {
  margin-bottom: 30px;
}
.border-img img {
  width: 118%;
  position: absolute;
  float: left;
  right: -6px;
  bottom: 7px;
}
.staffs {
  float: right;
  height: 90%;
}
.border-img {
  position: relative;
  background: #09e653;
  height: 78px;
}
.big-border-img {
  background: #09e653;
  height: 77%;
  width: 62%;
  margin-left: 183px;
  margin-top: 18px;
}
.staffs {
  height: 77%;
  float: right;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
