/* main section */
.product-area {
  margin: 60px 0;
}

/* title */

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.section-title h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.single-iteam {
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 1;
}
.single-iteam:hover::after {
  top: -49px;
  height: 120%;
  opacity: 1;
}
.single-iteam::after {
  position: absolute;
  left: 0;
  top: 0;
  background: #313131;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.single-iteam:hover .product-img {
  background: none;
}
.product-img {
  display: table;
  background-color: #f1f1f1;
  width: 100%;
  height: 300px;
  text-align: center;
  margin-bottom: 55px;
  position: relative;
}
.product-img-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.single-iteam:hover h4 {
  color: #fff;
}
.single-iteam h4 {
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}
.single-iteam .product-price {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #f55c47;
  font-size: 25px;
}

.product-hover-links {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 2;
  padding-left: 20px;
  padding-right: 50px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.product-hover-links a {
  display: inline-block;
  color: #797979;
  height: 42px;
  width: 48px;
  text-align: center;
  font-size: 16px;
  line-height: 37px;
}
.single-iteam:hover .product-hover-links {
  opacity: 1;
  visibility: visible;
}
.border-link a {
  border: 1px solid orangered;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.border-link a:hover {
  background: orangered;
  color: #fff;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .product-hover-links {
    opacity: 1;
    visibility: visible;
  }
  .single-iteam h4 {
    color: #fff;
  }
  .product-img {
    background: none;
  }
  .single-iteam::after {
    top: -49px;
    height: 120%;
    opacity: 1;
  }
}

@media screen and (max-width: 320px) {
}
