/* main section */
section.slider {
  background: #f7f6f2;
}
.color-bg {
  color: #fff;
  background: #93b5c6;
  position: relative;
}
.slider-txt {
  margin-top: 81px;
  padding: 80px;
}
.slider-heading {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  margin-bottom: 60px;
  line-height: 1.3;
}
.slider-heading span {
  position: absolute;
  width: 4%;
  height: 4px;
  left: 0px;
  background: #fff;
  border-radius: 50px;
  bottom: -12px;
}
.slider-txt h2 {
  font-size: 50px;
  font-style: italic;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.slider-btn {
  margin-top: 20px;
  background: #4b6587;
  padding: 10px 35px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border: 2px solid #4b6587;
}
.slider-btn:hover {
  box-shadow: 0 0 19px #4b6587;
  color: #fff;
}
img {
  position: absolute;
  right: 113px;
  bottom: 0;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  img {
    right: 17px;
    bottom: 79px;
    width: 200px;
  }
  .slider-txt {
    margin-top: 81px;
    padding: 21px;
  }
  .color-bg {
    height: 91%;
  }
  section.slider {
    height: 66%;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  img {
    display: none;
  }
  .slider-heading span {
    width: 10%;
  }
}

@media screen and (max-width: 320px) {
}
