header {
  width: 100%;
  height: 100vh;
}
span {
  color: #ffbf00 !important;
}
.header-artical {
  color: #fff;
  background: #000;
  height: 100vh;
  padding-top: 40px;
}
.header-artical a {
  color: #fff;
}
.logo {
  margin-bottom: 20px;
}
.main-meun {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-meun ul {
  margin: 0;
  padding: 0;
}
.main-meun ul li {
  padding-bottom: 35px;
}
.main-meun ul li a {
  font-size: 17px;
  font-weight: 700;
  transition: all 0.5s ease;
  position: relative;
}
.main-meun ul li a::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: -3px;
  width: 0;
  height: 3px;
  background: #ffbf00;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 32px;
}
.main-meun ul li a:hover {
  color: #ffbf00;
}
.main-meun ul li a:hover::after {
  opacity: 1;
  width: 116%;
  visibility: visible;
}
.social-links {
  margin-bottom: 66px;
}
.social-links a {
  color: #fff;
  padding: 0 10px;
  transition: 0.3s;
}
.social-links a:hover {
  color: #ffbf00;
}
.copy-right a {
  font-size: 17px;
}
.copy-right a svg {
  margin-right: 10px;
}
.header-txt {
  background: url("https://farihatulmaria.github.io/150/assets/img/blueberries-3460423_1920.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  color: #fff;
  display: table;
}
.header-txt::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  content: "";
  z-index: -1;
}
.header-cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 70px;
}
.header-txt h1 {
  font-size: 70px;
}
.header-txt p {
  font-size: 20px;
}
.header-btn {
  color: #000;
  background: #fff;
  border-radius: 32px;
  padding: 13px 27px;
  font-weight: 600;
  transition: 0.5s;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.row > * {
  padding-right: 0;
  padding-left: 0;
}
