section {
  background: url("https://farihatulmaria.github.io/150/assets/img/shy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.col-md-3 {
  margin-top: 50px;
}
img {
  width: 100%;
}
.main-content {
  box-shadow: 0 0 15px #666;
  margin-right: -5px;
  transition: all 0.5s ease-in-out;
}
.main-content:hover {
  transform: scale(1);
}
.pricing-text {
  background: #fff;
}
.pricing-text {
  text-align: center;
}
.pricing-text h2 {
  color: #3db2ff;
  padding-top: 10px;
  position: relative;
}
.pricing-text h2 span {
  position: absolute;
  width: 20%;
  height: 3px;
  background: #3db2ff;
  top: 54px;
  right: 102px;
}
.pricing-content {
  color: #ec4646;
  font-size: 27px;
  position: relative;
}
.pricing-content svg {
  position: absolute;
  top: 0px;
  left: 45px;
}
.pricing-content span {
  font-size: 60px;
}
ul {
  margin: 0;
  padding: 0;
  margin-left: 66px;
  margin-bottom: 23px;
}
.pricing-text ul li {
  text-align: left;
  color: #3db2ff;
  line-height: 2;
  font-size: 15px;
  font-weight: 300;
}
.pricing-text ul li strong {
  font-weight: bold !important;
  margin-right: 7px;
}
.pricing-btn {
  color: #fff;
  background: #3db2ff;
  padding: 11px 32px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
  margin-bottom: 20px;
}
.pricing-btn:hover {
  background: #ec4646;
  color: #fff;
}
.m-l-115 {
  margin-left: 115px;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  section {
    height: 67%;
  }
  .col-md-3 {
    width: 33%;
  }
  .m-l-115 {
    margin-left: 0;
  }
  .pricing-text h2 span {
    right: 92px;
  }
  .pricing-content svg {
    left: 28px;
  }
  ul {
    margin-left: 46px;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
