/*secivecs*/
.secivecs {
  margin-top: 50px;
}
.service img {
  min-width: 108%;
  height: auto;
  margin-left: -12px;
}
.line {
  height: 5px;
  width: 25%;
  margin-bottom: 14px;
}
.serivce-info {
  padding: 24px 0;
}
h2 {
  font-weight: 400;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}
h2 span {
  width: 0;
  height: 15%;
  position: absolute;
  top: 45px;
  left: 40%;
  background: linear-gradient(120deg, #ff8800, #ffd900);
  z-index: -1;
  transition: 0.8s;
}
h2:hover span {
  width: 20%;
}
.service {
  position: relative;
  border: 1px solid #a1a1a1;
  transition: all 0.5s ease-in-out;
  width: 29%;
  margin-right: 48px;
  margin-left: 1px;
}
.service:hover {
  box-shadow: 0 0 10px #666;
}
.service-title {
  background: linear-gradient(120deg, #ff8800, #ffd900);
  width: 76%;
  height: 63px;
  margin-left: 43px;
  position: absolute;
  top: 39%;
  left: -1%;
}
h4 {
  color: #fff;
  padding: 15px;
}
.servi-more-info {
  transition: all 0.5s ease-in-out;
}
.servi-more-info:hover svg {
  margin-left: 5px;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
