@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,700&display=swap");
/* main css */
body {
  font-family: "Roboto", sans-serif;
}
h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
.boxed-content {
  position: relative;
  margin-left: 70px;
}
.boxed-content::before {
  position: absolute;
  background: #222931;
  height: 52px;
  width: 53px;
  right: -39px;
  top: -26px;
  content: "";
  transform: rotate(45deg);
  z-index: 999;
}

.boxed-content::after {
  position: absolute;
  top: 10px;
  left: -40px;
  background: #fff;
  height: 78px;
  width: 1px;
  content: "";
  opacity: 0.4;
}
.boxed-content p {
  font-size: 12px;
  padding-right: 100px;
}
.boxed-btn {
  text-transform: uppercase;
  background: transparent;
  border-radius: 0;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
  padding: 10px 21px;
  font-size: 13px;
}
.boxed-btn:hover {
  color: #fff;
}
/* section 1 */
.section-padding {
  background: #222931;
  color: #fff;
  line-height: 1.5;
  font-size: 17px;
  padding: 84px 0;
  position: relative;
  z-index: 1;
}
.bg-1 {
  position: absolute;
  background: url("https://farihatulmaria.github.io/150/assets/img/office-594132_1920.jpg");
  background-position: center;
  background-size: cover;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

/* section 2 */
.box-2 {
  position: relative;
}
.box-2::before {
  position: absolute;
  background: #222931;
  height: 52px;
  width: 53px;
  left: -98px;
  content: "";
  transform: rotate(45deg);
  top: 100px;
}
.bg-2 {
  position: absolute;
  background: url("https://farihatulmaria.github.io/150/assets/img/italy.jpg");
  background-position: center;
  background-size: cover;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
  .boxed-content::before {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .boxed-content::before {
    right: -39px;
    top: -55px;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .bg-1 {
    display: none;
  }
  .bg-2 {
    display: none;
  }
  .section-padding {
    padding: 60px 0;
  }
  .boxed-content::before {
    display: none;
  }
}

@media screen and (max-width: 320px) {
}
