/* services */

.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-title h3 {
  text-transform: uppercase;
}
.section-title h3 span {
  color: #0099ff;
}
.single-service {
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.single-service:hover {
  background: darkblue;
  color: #fff;
}
.single-service:hover .service-icon {
  background: #0099ff;
  border: 5px solid darkblue;
}
.service-bg {
  height: 250px;
  position: relative;
}
.bg-1 {
  background: url("https://farihatulmaria.github.io/150/assets/img/blueberries-3460423_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-2 {
  background: url("https://farihatulmaria.github.io/150/assets/img/berries-2277_640.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-3 {
  background: url("https://farihatulmaria.github.io/150/assets/img/bird-6564593_640.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.service-icon {
  height: 80px;
  width: 83px;
  text-align: center;
  color: #fff;
  background: darkblue;
  border: 5px solid #fff;
  font-size: 34px;
  border-radius: 50%;
  padding-top: 10px;
  position: absolute;
  bottom: -24px;
  left: 39%;
  transition: all 0.5s ease;
}
.single-service h3 {
  margin-top: 55px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .single-service {
    background: darkblue;
    color: #fff;
    margin-bottom: 30px;
  }
  .service-icon {
    background: #0099ff;
    border: 5px solid darkblue;
  }
}

@media screen and (max-width: 320px) {
}
