/* main css */
.pricing-table {
  margin-top: 50px;
}
.pricing-title {
  margin-bottom: 60px;
}
.pricing-title h2 {
  text-transform: capitalize;
}
.pricing-title h2 span {
  color: #21db21;
}
.pricing-title p {
  padding: 10px 200px;
}
.pricing-content {
  border: 1px solid #666;
  padding: 54px 14px;
}
.pricing-head {
  margin-bottom: 30px;
}
.pricing-head h2 {
  text-transform: capitalize;
}
.pricing-head svg {
  font-size: 74px;
  margin-top: 8px;
}
svg {
  color: #21db21;
}
.pricing-body ul {
  margin: 0;
  padding: 0;
}
.pricing-body ul li {
  line-height: 2.4;
}
.pricing-body ul li svg {
  margin-right: 6px;
}
.pricing-body p {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #777;
}
.pricing-btn {
  border-radius: 32px;
  background: #21db21;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #21db21;
  transition: all 0.5s ease-in-out;
  padding: 11px 31px;
}
.pricing-btn:hover {
  background: transparent;
  color: #21db21;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .pricing-title p {
    padding: 9px 0px;
  }
  .pricing-content {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
}
