header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 20px;
}
section {
  background: url("https://farihatulmaria.github.io/150/assets/img/raspberries-2023404_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* top-banner */
.top-banner {
  padding-top: 10px;
}
.main-logo div {
  display: inline-block;
}

.logo {
  background: #000;
  height: 70px;
  width: 70px;
  text-align: center;
  transform: rotate(-46deg);
  margin-right: 28px;
}
.logo svg {
  font-size: 32px;
  transform: rotate(45deg);
  margin-left: 5px;
  margin-top: 14px;
}

.logo-txt h4 {
  line-height: 1px;
}

.contact-text p {
  display: inline-block;
}
.contect-info {
  position: relative;
  margin-left: 130px;
}
.contect-info svg {
  position: absolute;
  left: -41px;
  top: 0;
  font-size: 20px;
}
.contect-info a {
  color: #fff;
}
.single-slider {
  padding-top: 200px;
  margin-left: 90px;
}
.slider-txt {
  position: relative;
  z-index: 99;
  padding: 54px 70px;
}
.slider-txt::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  content: "";
  z-index: -1;
  opacity: 0.7;
}
.slider-txt h1 {
  line-height: 1;
  font-size: 44px;
}
.slider-txt p {
  line-height: 1.7;
  font-size: 17px;
}
.recpic-btn {
  background: orange;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}
.recpic-btn:hover {
  border-radius: 50px;
  color: #fff;
}
