.clients-commemts {
  margin-top: 50px;
}
.line {
  height: 5px;
  width: 25%;
  margin-bottom: 14px;
}
h2 {
  font-weight: 700;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}
h2 span {
  width: 0;
  height: 15%;
  position: absolute;
  top: 45px;
  left: 0;
  background: #003cff;
  z-index: -1;
  transition: 0.8s;
}
.single-comment {
  padding: 9px 28px;
}
h2:hover span {
  width: 50%;
}
img {
  border-radius: 50%;
}
.go {
  margin-top: 50px;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: -11%;
  padding: 0;
  border: none;
}
.slick-prev {
  right: 31px;
  left: auto;
}
.slick-prev::before,
.slick-next::before {
  font-size: 37px;
  opacity: 1;
}
.slick-prev::before {
  content: "<";
}
.slick-next::before {
  content: ">";
}
.slick-next::before {
  background: #0092e6 !important;
}
.slick-prev::before {
  background: #0092e6 !important;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
