* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}
a:focus,
input:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
.slick-dots li button {
  display: none;
}
/* main css */
/* header starts from here */
.main-menu {
}
.logo {
  width: 13%;
}
.menus {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.new {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  margin-left: 2px;
  padding: 2px 8px;
  border-radius: 23px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}

.menu li {
  padding: 31px 14px;
  font-size: 17px;
  font-weight: 600;
}
.menu li:hover {
  background-color: #04aa6d;
}
.menu li a {
  color: #000;
  position: relative;
}
.menu li:hover a {
  color: #fff;
}
.menu li a svg {
  margin-top: -11px;
}
/* mega-menu strats from here */

/* mega-menu strats from here */
.display-icons {
  padding: 30px 0px;
}
.display-icons ul {
}
.display-icons ul li {
  margin: 0px 12px;
}
.display-icons li a {
  color: #000;
  font-size: 18px;
}
.display-icons a svg {
}
.menu-btns {
  margin-top: 30px;
}
.menu-btns a {
  background: #000;
  color: #fff;
  text-transform: capitalize;
  padding: 6px 26px;
  font-size: 19px;
  border-radius: 23px;
  font-weight: 600;
  margin: 0 3px;
}
.web {
  background: #ffc0c7 !important;
  color: #000 !important;
}
.paid {
  background: transparent !important;
  color: #000 !important;
}
.login,
.menu-btns a:hover {
  background: #04aa6d !important;
  color: #fff !important;
}
/* header ends from here */

/* sections starts from here */
section {
  padding: 54px 0;
}
/* html starts from here */
.html {
  background: #282a35;
}
.courese {
  color: #fff;
  margin-top: 13px;
}
.courese h1 {
  font-size: 98px;
  font-weight: 700;
}
.courese p {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 39px;
}
.courese-btn {
  background-color: #04aa6d;
  color: white;
  border-radius: 25px;
  font-weight: 700;
  font-size: 18px;
  display: block;
  padding: 12px 0;
  width: 31%;
  margin: auto;
}
.courese-btn:hover {
  color: white;
}
.video-btn {
  background: #fff4a3 !important;
  color: #000 !important;
  position: relative;
}
.References-btn {
  color: #000 !important;
}
.tag {
  position: absolute;
  top: -8px;
  left: -15px;
  background: #ffc0c7;
  color: #000;
  transform: rotate(-30deg);
  padding: 4px 14px;
  font-size: 14px;
  border-radius: 25px;
}
.codes img {
  margin-top: 11px;
}

/* html ends from here */

.css {
  background: #d9eee1;
  color: #000 !important;
}
.css .codes img,
.js .codes img,
.py .codes img,
.sql .codes img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 7px;
}
.js {
  background: #fff4a3;
}
.css .courese h1,
.css .courese p,
.js .courese h1,
.js .courese p,
.sql .courese h1,
.sql .courese p {
  color: #000 !important;
}
.css .References-btn,
.js .References-btn,
.sql .References-btn {
  color: #fff !important;
  background: #000 !important;
}

/* others starts from here */
.others {
  background: #000;
}
.other-courese {
  background: #ffc0c7;
  border-radius: 5px;
  padding: 51px;
  line-height: 40px;
}
.other-courese h2 {
  font-weight: 700;
}
.other-courese p {
  margin-bottom: 20px;
}
.others-btn {
  background: #000;
  color: #fff;
  font-size: 22px;
  padding: 5px 26px;
  border-radius: 23px;
}
/* others ends from here */
/* sections ends from here */

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
